systemd
discord
Postman
JetBrains
Code
go
Thunar
xfce4
mozilla
pulse
ibus
Kitware
WhatsApp Desktop
dconf
micro
obs-studio

# Files
QtProject.conf
user-dirs.locale
mimeapps.list
.gsd-keyboard.settings-ported
filelightrc
