[Unit]
Description=Fetch Spotify Album Art on Track Change

[Service]
Type=simple
ExecStart=/bin/bash %h/.config/hypr/scripts/reloadImage.sh
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
