@import "../theme/wlogout.css";

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.3);
}

button {
    border-radius: 7px;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: @background;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
}

button:focus, button:active, button:hover {
	/* background-color: @foreground; */
	outline-style: none;
	border-color: @foreground;
}

#lock {
    background-image: url("/usr/local/share/wlogout/icons/lock.svg");
}

#logout {
    background-image: url("/usr/local/share/wlogout/icons/logout.svg");
}

#suspend {
    background-image: url("/usr/local/share/wlogout/icons/suspend.svg");
}

#hibernate {
    background-image: url("/usr/local/share/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/usr/local/share/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/usr/local/share/wlogout/icons/reboot.svg");
}
