--color0:  #0A0B15;
--color1:  #5F1B38;
--color2:  #243882;
--color3:  #28389B;
--color4:  #4E2EC6;
--color5:  #2E3DA0;
--color6:  #2676B3;
--color7:  #D7C1E5;
--color8:  #212229;
--color9:  #5F1B38;
--color10: #243882;
--color11: #28389B;
--color12: #4E2EC6;
--color13: #2E3DA0;
--color14: #2676B3;
--color15: #D7C1E5;
